<div class="row">
  <div class="col-lg-10">
    <h1>Search and enroll courses</h1>
  </div>
  <div class="col-sm-1">
    <%= link_to "Home", user_path(current_user.id), method: :get %>
  </div>
  <div class="col-sm-1">
    <%= link_to "Log out", logout_path, method: :delete %>
  </div>
</div>

<div class="container">
  <%= form_tag(search_path,
               id: "search_form",
               method: :get,
               remote: true) do %>
    <div class="form-row">
      <div class="col-lg-4">
        <%= collection_select :subject, :id,
                              Subject.order(:name),
                              :id, :name, {}, class: "custom-select", onchange: "Rails.fire(this.form, 'submit')" %>
      </div>
      <div class="col-lg-3">
        <%= text_field_tag :course_name, "", class: "form-control", placeholder: "Course name", onchange: "Rails.fire(this.form, 'submit')" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container" id="course_list">
  <%= render 'courses' %>
</div>
